<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/tablet.css" />
    <link rel="stylesheet" href="/css/escritorio.css" />
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>

<body>
    <header class="nombre2"><a href="/home">
      <div class="header2"><h1 class="logow"><img src="/images/logo-mercado-liebre.svg" alt="Logo" width = "50%"/></h1></a>
        <div class= "buscar input buscar buscarB">
            <input type="text" placeholder="Buscar productos, marcas..." required>
        </div>
          <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      
      <div class="center nombre3">Comprá en cuotas y sin tarjeta de crédito<i class="fas fa-hand-holding-usd"></i>
      </div>      
      
      <nav class="lista-menu">
        <ul class="clase-ul">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="clase-ul">
          <li><a href="/register">Crear Tu Cuenta<i class="far fa-id-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#">Mis Compras<i class="fas fa-shopping-cart"></i></a>
          </li>
        </ul>
        </nav>
         <div class="burger-menu"><i class="fas fa-bars"></i>
         </div>
    </header>

        <img src="/images/img-home-banner.jpg" alt="Banner" width="100%"/>
        <main class="container">
            <h3 class="titulares">Basado en tu última visita</h3>
                <section class="lista">
            <div class="articulo">
            <article class="descripciones">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%"/>
            <div class="art-data">
                        <i class="fas fa-truck icon-size text-green bg-white rota"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="nombre">Cafetera Moulinex</h4>
            </div>
            </article>
            </div>

            <div class="articulo">
            <article class="descripciones">
            <img src="/images/img-macbook-pro-2019.jpg"alt="Mac Pro 2019" width="100%"/>
            <div class="art-data">
              <i class="fas fa-truck icon-size text-green bg-white rota"></i>
              <p class="precios">$230.000</p>
              <p class="descuentos">20%OFF</p>
              <h4 class="nombre">MacBook Pro 2019</h4>
            </div>
          </article>
         </div>
         <div class="articulo">
          <article class="descripciones">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
              width="100%"
            />
            <div class="art-data">
              <i class="fas fa-truck icon-size text-green bg-white rota"></i>
              <p class="precios">$70.500</p>
              <p class="descuentos">10%OFF</p>
              <h4 class="nombre">Samsung Galaxy S10</h4>
            </div>
          </article>
         </div>
         <div class="articulo">
          <article class="descripciones">
            <img src="/images/img-tv-samsung-smart.jpg" alt=" SmartTv Samsung
            43" " width="100%"/>
            <div class="art-data">
              <i class="fas fa-truck icon-size text-green bg-white rota"></i>
              <p class="precios">$23.200</p>
              <p class="descuentos">5%OFF</p>
              <h4 class="nombre">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>
      <h1 class="titulares padding10">Ofertas</h1>
      <section class="lista">
        <div class="articulo">
          <article class="descripciones">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
              width="100%"
            />
            <div class="art-data">
              <i class="fas fa-truck icon-size text-green bg-white rota"></i>
              <p class="precios">$6.770</p>
              <p class="descuentos">40% OFF</p>
              <h4 class="nombre">Cafetera Moulinex</h4>
            </div>
          </article>
        </div>
        <div class="articulo">
          <article class="descripciones">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="Mac Pro 2019"
              width="100%"
            />
            <div class="art-data">
              <i class="fas fa-truck icon-size text-green bg-white rota"></i>
              <p class="precios">$230.000</p>
              <p class="descuentos">20%OFF</p>
              <h4 class="nombre">MacBook Pro 2019</h4>
            </div>
          </article>
        </div>
        <div class="articulo">
          <article class="descripciones">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
              width="100%"
            />
            <div class="art-data">
              <i class="fas fa-truck icon-size text-green bg-white rota"></i>
              <p class="precios">$70.500</p>
              <p class="descuentos">10%OFF</p>
              <h4 class="nombre">Samsung Galaxy S10</h4>
            </div>
          </article>
        </div>
        <div class="articulo">
          <article class="descripciones">
            <img src="/images/img-tv-samsung-smart.jpg" alt=" SmartTv Samsung
            43" " width="100%" />
            <div class="art-data">
              <i class="fas fa-truck icon-size text-green bg-white rota"></i>
              <p class="precios">$23.200</p>
              <p class="descuentos">5%oOFF</p>
              <h4 class="nombre">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>
    </main>
  </body>
<footer class="descripciones-footer">
    <section>        
        <div class="flex-container">
         <div class="caja flex-container">
             <i class="fas fa-credit-card iconito"></i>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p class="separacion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
         </div>

         <div class="caja flex-container"> 
            <i class="fas fa-gift iconito"></i>
            <strong>Envío gratis desde $ 2.500</strong>
           <p class="separacion"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
         </div>
        
         <div class="caja flex-container">
            <i class="fas fa-user-shield iconito"></i>
            <strong>Seguridad, de principio a fin</strong>
             <p class="separacion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
         </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </section>
</footer>
</html>
